* {
  font-size: 1.5rem;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar{
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}